html{
	background-color: white;
}

.mui-bar-nav{
	/* background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%); */
	background-color: #4e85f0;
	
}
.mui-bar-nav .mui-title{
	color: white;
}
.mui-bar-nav .mui-icon{
	color: white;
}

.mui-content{
	background-color: white;
	padding: 10px 0 0 15px;
	padding-top: 20px;
}

/* #img{
	
}
#img img, #img video{
	width: 103.5px;
	height: 103.5px;
	margin-right: 10px;
	margin-top: 10px;
	object-fit: cover;
	border-radius: 10px;
	float: left;
}
#pick{
	display: inline-block;
	background-color: lightgray;
	width: 103.5px;
	height: 103.5px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
	border-radius: 10px;
} */

.mui-page{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}

.other{
	margin-right: 15px;
	margin-bottom: 60px;
}
input[type='text']{
	border: none;
	padding-left: 3px;
	margin-top: 3px;
	margin-bottom: 8px;
}
input[type='text']::placeholder{
	color: black !important;
	font-weight: bold;
	font-size: 22px;
	/* border-radius: 0;
	border-bottom: 1px solid #000; */
}
textarea{
	border: none;
	padding-left: 3px;
	border-top: 1px solid lightgray;
	
}
.other .button{
	width: 100%;
	height: 45px;
	border-radius: 15px;
	border: none;
	background: #5433FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
	background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
}

#navbar {
	width: 100%;
	height: 60px;
	border-color: white;
	background-color: white;
	z-index: 1000000;
	position: fixed;
	left: 0;
	bottom: 0;
}
#navbar .mui-table-view-cell {
	width: 20%;
	padding: 0;
	padding-top: 4px;
	border: none;
}
#navbar .mui-table-view-cell .mui-media-body {
	font-size: 12px;
	margin: 0;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell > a:not(.mui-btn){
	padding: 0;
}
#navbar .mui-table-view-cell .mui-icon {
	font-size: 32px;
}
div.mui-media-body.active{
	color: #1383c2 !important;
	
}