.mui-bar-nav{
	background-color: #4e85f0;
	box-shadow: none;
}
.mui-bar-nav .mui-title{
	color: white;
}
.mui-bar-nav .mui-icon{
	color: white;
}

/* 搜索 */
.sousuo{
	text-align: center;
}
.sousuo h4{
	padding-top: 50px;
	font-size: 19px;
	text-align: center;
	font-weight: normal;
}
.sousuo .mui-search {
	margin-top: 20px;
	width: 100%;
	height: 53px;
	display: inline-block;
}
.sousuo .mui-search input {
	width: 90%;
	height: 40px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sousuo .mui-input-clear {
	background-color: white;
	border-radius: 25px;
	vertical-align: middle;
}
.sousuo .mui-search .mui-placeholder {
	line-height: 40px;
	text-align: left;
	margin-left: 45px;
	font-size: 14px;
}
.sousuo .mui-search .mui-placeholder .mui-icon {
	float: right;
	line-height: 40px;
	margin-right: 43px;
	padding: 0;
}



/* 选择 */
.mui-segmented-control {
	padding-top: 8px;
	border: none;
	background-color: #efeff4;
}
.mui-segmented-control .mui-control-item {
	padding-top: 3px;
	display: inline-block;
	width: calc(100% / 4);
	height: 35px;
	line-height: 35px;
	padding: 0 5px;
	border: none;
	color: black;
	opacity: 0.8;
}
.mui-segmented-control .mui-control-item.mui-active{
	background-color: unset;
	color: black;
}
.mui-segmented-control .mui-control-item .mui-icon{
	font-size: 15px;
	padding-left: 3px;
}


/* 院校位置 */
#shengyuandi-menu{
	height: 500px;
	background-color: #fff;
}
#shengyuandi-menu .popoverheader{
	padding: 15px 15px;
	height: 50px;
	font-weight: bold;
}
#shengyuandi-menu .popoverheader .text{
	
}
#shengyuandi-menu .popoverheader img{
	width: 15px;
	height: 100%;
}
#shengyuandi-menu .mui-input-group{
	/* margin-right: 0rem;
	margin-left: 0rem; */
	overflow: hidden;
	padding: 10px 10px 15px;
}
/* 主要内容 */
#shengyuandi-menu ul{
	margin: 0;
	padding: 0;
}
#shengyuandi-menu .item {
	width: calc(100% / 5);
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	overflow: hidden;
	float: left;
	text-align: center;
}
#shengyuandi-menu .item .type {
	height: 41px;
	line-height: 41px;
	text-align: center;
	background-color: #fff;
	font-size: 15px;
	display: block;
}
#shengyuandi-menu .radio {
	position: absolute;
	top: -9999px;
}
#shengyuandi-menu .item .type span {
	height: 34px;
	line-height: 34px;
	display: block;
	margin: 2px 4px;
	font-size: 14px;
	color: dimgray;
	position: relative;
	border-radius: 5px;
	background-color: rgba(232, 228, 228, 0.5);
}
#shengyuandi-menu .item .radio:checked~span {
	color: #61a9f2;
	background-color: rgba(181, 215, 249, 0.3);
}
.mui-popover.mui-popover-action .mui-table-view{
	background-color: white;
	padding-top: 10px;
}
#shengyuandi-menu .next button{
	width: 80%;
	height: 40px;
	border-radius: 25px;
	border: none;
	background-color: powderblue;
	color: white;
}


/* 办学性质 */
#xingzhi-menu{
	height: 280px;
	background-color: #fff;
}
#xingzhi-menu .popoverheader{
	padding: 15px 15px;
	height: 50px;
	font-weight: bold;
}
#xingzhi-menu .popoverheader .text{
	
}
#xingzhi-menu .popoverheader img{
	width: 15px;
	height: 100%;
}
#xingzhi-menu .mui-input-group{
	/* margin-right: 0rem;
	margin-left: 0rem; */
	overflow: hidden;
	padding: 10px 10px 15px;
}
/* 主要内容 */
#xingzhi-menu ul{
	margin: 0;
	padding: 0;
}
#xingzhi-menu .item {
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	overflow: hidden;
	float: left;
	text-align: center;
}
#xingzhi-menu .item .type {
	height: 41px;
	line-height: 41px;
	text-align: center;
	background-color: #fff;
	font-size: 15px;
	display: block;
}
#xingzhi-menu .radio {
	position: absolute;
	top: -9999px;
}
#xingzhi-menu .item .type span {
	padding: 0 18px;
	height: 34px;
	line-height: 34px;
	display: block;
	margin: 2px 4px;
	font-size: 14px;
	color: dimgray;
	position: relative;
	border-radius: 5px;
	background-color: rgba(232, 228, 228, 0.5);
}
#xingzhi-menu .item .radio:checked~span {
	color: #61a9f2;
	background-color: rgba(181, 215, 249, 0.3);
}
.mui-popover.mui-popover-action .mui-table-view{
	background-color: white;
	padding-top: 10px;
}
#xingzhi-menu .next button{
	width: 80%;
	height: 40px;
	border-radius: 25px;
	border: none;
	background-color: powderblue;
	color: white;
}


/* 办学特色 */
#tese-menu{
	height: 280px;
	background-color: #fff;
}
#tese-menu .popoverheader{
	padding: 15px 15px;
	height: 50px;
	font-weight: bold;
}
#tese-menu .popoverheader .text{
	
}
#tese-menu .popoverheader img{
	width: 15px;
	height: 100%;
}
#tese-menu .mui-input-group{
	/* margin-right: 0rem;
	margin-left: 0rem; */
	overflow: hidden;
	padding: 10px 10px 15px;
}
/* 主要内容 */
#tese-menu ul{
	margin: 0;
	padding: 0;
}
#tese-menu .item {
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	overflow: hidden;
	float: left;
	text-align: center;
}
#tese-menu .item .type {
	height: 41px;
	line-height: 41px;
	text-align: center;
	background-color: #fff;
	font-size: 15px;
	display: block;
}
#tese-menu .radio {
	position: absolute;
	top: -9999px;
}
#tese-menu .item .type span {
	padding: 0 18px;
	height: 34px;
	line-height: 34px;
	display: block;
	margin: 2px 4px;
	font-size: 14px;
	color: dimgray;
	position: relative;
	border-radius: 5px;
	background-color: rgba(232, 228, 228, 0.5);
}
#tese-menu .item .radio:checked~span {
	color: #61a9f2;
	background-color: rgba(181, 215, 249, 0.3);
}
.mui-popover.mui-popover-action .mui-table-view{
	background-color: white;
	padding-top: 10px;
}
#tese-menu .next button{
	width: 80%;
	height: 40px;
	border-radius: 25px;
	border: none;
	background-color: powderblue;
	color: white;
}


/* 院校类型 */
#leixing-menu{
	height: 323px;
	background-color: #fff;
}
#leixing-menu .popoverheader{
	padding: 15px 15px;
	height: 50px;
	font-weight: bold;
}
#leixing-menu .popoverheader .text{
	
}
#leixing-menu .popoverheader img{
	width: 15px;
	height: 100%;
}
#leixing-menu .mui-input-group{
	/* margin-right: 0rem;
	margin-left: 0rem; */
	overflow: hidden;
	padding: 10px 10px 15px;
}
/* 主要内容 */
#leixing-menu ul{
	margin: 0;
	padding: 0;
}
#leixing-menu .item {
	width: calc(100% / 5);
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	overflow: hidden;
	float: left;
	text-align: center;
}
#leixing-menu .item .type {
	height: 41px;
	line-height: 41px;
	text-align: center;
	background-color: #fff;
	font-size: 15px;
	display: block;
}
#leixing-menu .radio {
	position: absolute;
	top: -9999px;
}
#leixing-menu .item .type span {
	height: 34px;
	line-height: 34px;
	display: block;
	margin: 2px 4px;
	font-size: 14px;
	color: dimgray;
	position: relative;
	border-radius: 5px;
	background-color: rgba(232, 228, 228, 0.5);
}
#leixing-menu .item .radio:checked~span {
	color: #61a9f2;
	background-color: rgba(181, 215, 249, 0.3);
}
.mui-popover.mui-popover-action .mui-table-view{
	background-color: white;
	padding-top: 10px;
}
#leixing-menu .next button{
	width: 80%;
	height: 40px;
	border-radius: 25px;
	border: none;
	background-color: powderblue;
	color: white;
}


/* 院校列表 */
.mui-table-view .mui-media .xiaohui{
	float: left;
	display: block;
	margin-right: 13px;
}
.mui-table-view .mui-media img{
	width: 60px;
	height: 100%;
}
.mui-table-view .mui-media-object{
	max-width: unset;
}
.mui-table-view-cell > a:not(.mui-btn){
	padding: 10px 15px;
}
.mui-media{
	padding-top: 15px;
	font-weight: 600;
	font-size: 18px;
}
.mui-media-body p{
	font-weight: 400;
	color: black;
	margin: 5px 0;
	font-size: 13px;
} 
.label{
	display: inline-block;
	margin-top: 2px;
	padding: 0 5px;
	border-radius: 3px;
	font-size: 13px;
	font-weight: 400;
	color: black;
	border: 1px solid lightgray;
	opacity: 0.7;
	/* background-color: rgba(232, 228, 228, 1); */
}